@model TurkcellPasajApp.MVC.ViewModels.SellerProfileViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Profil";
}

<head>
    <style>
        .profile-section {
            background-color: #f8f8f8;
            border: 1px solid #ccc;
            padding: 15px;
            margin-bottom: 20px;
        }

        .edit-profile-button {
            background-color: white;
            color: black;
            border: 1px solid #ccc;
            transition: background-color 0.3s, color 0.3s;
        }

            .edit-profile-button:hover {
                background-color: #ffc900 !important;
                color: black !important;
            }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Profil</h1>

        <div class="row">
            <div class="col-md-3">
                <div class="list-group">
                    <a href="#temelBilgiler" class="list-group-item list-group-item-action">Temel Bilgiler</a>
                    <a href="#iletisimBilgileri" class="list-group-item list-group-item-action">İletişim Bilgileri</a>
                    <a href="#gelenSiparisler" class="list-group-item list-group-item-action">Gelen Siparişler</a>
                    <a href="#satistakiUrunler" class="list-group-item list-group-item-action">Satıştaki Ürünler</a>

                </div>
                <div class="mt-4">
                    <a href="/Seller/EditProfile" class="btn btn-primary shadow-0 me-1 align-items-center edit-profile-button">Profili Düzenle</a>
                </div>
            </div>
            
            <div class="col-md-9">
                <div id="temelBilgiler" class="profile-section">
                    <h2>Temel Bilgiler</h2>
                    <div class="row mb-3">
                        <div class="col-md-4">Kullanıcı Adı:</div>
                        <div class="col-md-8">@Model.SellerDisplayResponseDto.Username</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4">Ad:</div>
                        <div class="col-md-8">@Model.SellerDisplayResponseDto.Name</div>
                    </div>
                </div>

                <div id="iletisimBilgileri" class="profile-section" style="display: none;">
                    <h2>İletişim Bilgileri</h2>
                    <div class="row mb-3">
                        <div class="col-md-4">Email:</div>
                        <div class="col-md-8">@Model.SellerDisplayResponseDto.Email</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4">Telefon:</div>
                        <div class="col-md-8">@Model.SellerDisplayResponseDto.PhoneNumber</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4">Adres:</div>
                        <div class="col-md-8">@Model.SellerDisplayResponseDto.Address</div>
                    </div>
                </div>

           
                <div id="gelenSiparisler" class="profile-section" style="display: none;">
                    <h2>Gelen Siparişlerim</h2>
                    @Html.Partial("_ShowSellersOrders",Model.orderDetailsDisplayResponseDtos)
                </div>
                <div id="satistakiUrunler" class="profile-section" style="display: none;">
                    <h2>Ürünlerim</h2>
                    @Html.Partial("_ShowProductsPartialView",Model.ProductDisplayResponseDto)
                </div>
            </div>
        </div>


    </div>

</body>
<script>
    // Seçeneklere tıklandığında ilgili bölümü görünür hale getir
    document.querySelectorAll('.list-group-item-action').forEach(item => {
        item.addEventListener('click', event => {
            event.preventDefault();
            const targetSectionId = event.currentTarget.getAttribute('href');
            const targetSection = document.querySelector(targetSectionId);
            if (targetSection) {
                document.querySelectorAll('.profile-section').forEach(section => {
                    section.style.display = 'none';
                });
                targetSection.style.display = 'block';
            }
        });
    });
</script>





