@model TurkcellPasajApp.MVC.ViewModels.ShowProductsViewModel

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <style>
        .favorite-button {
            background-color: #6c757d !important; /* Gri renk */
            border: none;
            outline: none;
        }

            .favorite-button.active {
                background-color: #ffc900 !important; /* Kırmızı renk */
            }

            /* İkonun yatay ve dikey hizalama için */
            .favorite-button i {
                line-height: 1; /* Dikey hizalama */
            }

        #favorite-counter {
            font-size: 12px;
            min-width: 20px;
            height: 20px;
            padding: 3px;
        }

        .custom-basket-button {
            background-color: white;
            color: black;
            border: 1px solid #ccc;
            transition: background-color 0.3s, color 0.3s;
        }

            .custom-basket-button:hover {
                background-color: #ffc900 !important; /* Hover durumunda arka plan rengi ffc900 */
                color: black !important; /* Hover durumunda metin rengi siyah */
            }
    </style>

</head>
<body>
    <div class="container">
        <div class="row">
            @foreach (var product in Model.Products)
            {
                <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
                    <div class="card w-100 my-2 shadow-2-strong">
                        <a href="@Url.Action("ProductDetail", "Home", new { id = product.Id })">
                            <img src="/ProductPhotos/@product.PhotoUrl" class="card-img-top" style="aspect-ratio: 1 / 1" />
                        </a>

                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">@product.Name</h5>
                            <p class="card-text"><strong>Fiyat:</strong>@product.Price ₺</p>
                            @*  <p class="card-text"><strong>Kategori:</strong>@product.Category.Name.ToUpper()</p>*@
                            <p class="card-text"><strong>Satıcı:</strong>@product.Seller.Name.ToUpper()</p>
                            @if (User.Identity.IsAuthenticated && User.IsInRole("seller") && product.Seller.Id == ViewContext.HttpContext.Session.GetInt32("SellerId"))
                            {
                                <p class="card-text"><strong>Stok:</strong>@product.StockQuantity Adet</p>
                            }
                            <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                                @if (User.Identity.IsAuthenticated && User.IsInRole("customer"))
                                {
                                    <!-- Sepet butonu -->
                                    <button class="btn btn-primary shadow-0 me-1 d-flex align-items-center custom-basket-button" onclick="addToBasket(@product.Id)">
                                        <i class="fas fa-shopping-cart m-1"></i> Sepete Ekle
                                    </button>
                                    <!-- Sepet butonu -->
                                    <!-- Favori butonu -->
                                    <div class="ml-auto">
                                        @if (Model.Favourites != null)
                                        {
                                            @if (Model.Favourites.Any(f => f.FavouriteProductId == product.Id && f.IsFavourite == true))
                                            {
                                                <button class="btn btn-secondary favorite-button active px-1" data-productid="@product.Id" onclick="addToFavorites(@product.Id)">
                                                    <i class="fas fa-heart fa-lg text-white"></i>
                                                </button>
                                            }
                                            else
                                            {
                                                <button class="btn btn-secondary favorite-button px-1" data-productid="@product.Id" onclick="addToFavorites(@product.Id)">
                                                    <i class="fas fa-heart fa-lg text-white"></i>
                                                </button>
                                            }
                                        }
                                    </div>
                                    <!-- Favori butonu -->
                                }
                                @if (User.Identity.IsAuthenticated && User.IsInRole("seller") && product.Seller.Id == ViewContext.HttpContext.Session.GetInt32("SellerId"))
                                {
                                    <button class="btn btn-primary shadow-0 me-1 d-flex align-items-center">
                                        <i class="fas fa-shopping-cart m-1"></i>Düzenle
                                    </button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <!--ToastModal-->
        <div class="toast-container position-fixed bottom-0 end-0 p-3">
            <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto">Sepet Bilgisi</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body"> </div>
            </div>
        </div>
        <!--ToastModal-->
    </div>
    <script src="/js/jquery/jquery.min.js"></script>
    <script src="/js/bootstrap/js/bootstrap.min.js"></script>

    <script>

        //Favorilere ekleme yada çıkarma işlemleri
        function addToFavorites(productId) {
            $.ajax({
                type: "POST",
                url: "/Customer/AddToFavorites",
                data: { productId: productId },
                success: function (data) {
                    if (data.success) {
                        // Favori butonunun aktiflik durumunu değiştirin
                        const favoriteButton = $(`button[data-productid="${productId}"]`);
                        favoriteButton.toggleClass("active");
                    }
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        }
        // Tost bildirimi gösteren fonksiyon
        function showToast(message) {
            var toastBody = document.querySelector("#liveToast .toast-body");
            toastBody.textContent = message;
            var toast = new bootstrap.Toast(document.getElementById('liveToast'));
            toast.show();
        }

        // Ürünleri sepete ekleyen fonksiyon
        function addToBasket(productId) {
            $.ajax({
                type: "POST",
                url: "/Customer/AddToBasket",
                data: { productId: productId },
                success: function (data) {
                    if (data.success) {
                        // Başarılı ekleme tost mesajı göster
                        showToast("Ürün başarıyla sepete eklendi.");
                    }
                },
                error: function (xhr, status, error) {
                    // Hata tost mesajı göster
                    showToast("Ürün sepete daha önce eklenmiştir.");
                }
            });
        }
    </script>
</body>
</html>
