@model IEnumerable<TurkcellPasajApp.DataTransferObjects.Responses.OrderDetailsDisplayResponseDto>

<style>
    .order-details-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        margin-bottom: 10px;
        font-weight: bold;
        border-bottom: 2px solid #000;
        border-top: 2px solid #000;
    }

    .product-detail-entry {
        display: flex;
        align-items: center;
    }

    .order-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        margin-bottom: 10px;
        font-weight: bold;
    }

    .order-info-entry {
        display: flex;
        align-items: center;
    }

    .label {
        margin-right: 5px;
    }

    .value {
        margin-right: 10px;
    }

    .order-detail {
        display: flex;
        align-items: center;
        margin-top: 10px;
        border-top: 1px solid #ccc;
        padding-top: 10px;
    }

    .order-detail-info {
        margin-right: 15px;
    }

        .order-detail-info:last-child {
            margin-right: 0;
        }

    .order-detail-button {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        transition: background-color 0.3s, color 0.3s;
    }

        .order-detail-button:hover {
            background-color: #ffc900 !important;
            color: black !important;
        }

    .product-image {
        max-width: 100px;
        height: auto;
</style>

<body>
    <div class="order-card">
        <div class="order-details">
            <div class="order-grid">
                <div class="order-info-entry">
                    <span class="label">Sipariş Numarası</span>
                </div>
                <div class="order-info-entry">
                    <span class="label">Tarih</span>
                </div>
                <div class="order-info-entry">
                    <span class="label">Sipariş Durumu</span>
                </div>
            </div>
        </div>
    </div>

    @foreach (var order in Model)
    {
        <div class="order-card">
            <div class="order-details">
                <div class="order-grid">
                    <div class="order-info-entry">
                        <span class="value">@order.</span>
                    </div>


                    <div class="order-details-button">
                        <button class="btn btn-primary order-detail-button" onclick="showOrderDetails('@order.Id')">Detayları Göster</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="order-details-@order.Id" style="display: none;">
            <div class="order-details-grid">
                <div class="product-detail-entry">
                    <span class="product-label">Fotoğraf</span>
                </div>
                <div class="product-detail-entry">
                    <span class="product-label">Ürün Adı</span>
                </div>
                <div class="product-detail-entry">
                    <span class="product-label">Miktar</span>
                </div>
                <div class="product-detail-entry">
                    <span class="product-label">Fiyat</span>
                </div>

                <div class="product-detail-entry">
                    <span>
                        <a href="@Url.Action("ProductDetail", "Home", new { id = order.OrderDetailsProduct.Id})">
                            <img src="/ProductPhotos/@order.OrderDetailsProduct.PhotoUrl" class="product-image" />
                        </a>
                    </span>
                </div>
                <div class="product-detail-entry">
                    <span class="product-value">@order.OrderDetailsProduct.Name</span>
                </div>
                <div class="product-detail-entry">
                    <span class="product-value">@order.Quantity</span>
                </div>
                <div class="product-detail-entry">
                    <span class="product-value">@order.OrderDetailsProduct.Price</span>
                </div>


            </div>
            <div class="order-detail-separator"></div>
        </div>
    }
</body>

<script>
    function showOrderDetails(orderId) {
        var orderDetailsDiv = document.getElementById('order-details-' + orderId);
        if (orderDetailsDiv.style.display === 'none') {
            orderDetailsDiv.style.display = 'block';
        } else {
            orderDetailsDiv.style.display = 'none';
        }
    }
</script>
